@use "./mixins" as *;
@use "./variables" as *;

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    // padding: 20px 0;
    @include container90;
}

.nav-bar {
    height: 100%;

    ul {
        list-style: none;
        display: flex;
        height: 100%;
        gap: 15px;
    }

    li a {
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        align-content: center;
        height: 100%;
    }
}

.active {
    @include activeNavElement;
}
